# Dependencies
node_modules/

# Build and Expo outputs
.expo/
dist/
build/
coverage/

# OS/System files
.DS_Store
thumbs.db

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

frontend/.env
backend/.env

*.env
# Personal VS Code configuration
.vscode/mcp.json
.vscode/launch.json
*.code-workspace
